@font-face {
	font-family: "DM Sans";
	src: url("fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DM Mono";
	src: url("fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans Javanese";
	src: url("fonts/Noto_Sans_Javanese/static/NotoSansJavanese-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@import "tailwindcss";

@theme {
	--font-sans: "DM Sans", sans-serif;
	--font-mono: "DM Mono", monospace;
	--font-javanese: "Noto Sans Javanese", sans-serif;
}

body {
	@apply font-sans;
}

/* ── Animations ── */
@keyframes floatBadge {
	from {
		transform: translateY(0px) translateX(0px) rotate(-4deg);
	}
	to {
		transform: translateY(-20px) translateX(3px) rotate(4deg);
	}
}
